langchain
langchain-community
bs4
PyPDF2
numpy
pandas 
fastapi
uvicorn
PyPDF2
langchain
sentence-transformers
chromadb
rank-bm25
requests
python-dotenv
torch
transformers
openai
langgraph
bert_score
pydantic

